/* Definição das variáveis de cor */
:root {
    --cor-primaria: #808080; /* Cinza (cor primária) */
    --cor-secundaria: #FFD700; /* Amarelo (cor secundária) */
    --cor-fonte: #000000; /* Preto (cor da fonte) */
    --cinza-claro: #D3D3D3; /* Cinza claro */
    --cinza-escuro: #505050; /* Cinza escuro */
}

/* Importação da fonte Computer Modern */
@font-face {
    font-family: 'Computer Modern';
    src: url('fonts/CMU-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern';
    src: url('fonts/CMU-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern';
    src: url('fonts/CMU-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Estilização do corpo do documento */
body {
    font-family: 'Computer Modern', serif;
    color: var(--cor-fonte);
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at center, var(--cinza-claro), var(--cinza-escuro));
    line-height: 1.5;
}

/* Estilização do cabeçalho e rodapé */
header, footer {
    background-color: var(--cor-primaria);
    color: var(--cor-fonte);
    padding: 1em 0;
    text-align: center;
}

/* Estilização do menu de navegação */
nav ul {
    list-style: none;
    padding: 0;
    background-color: var(--cor-secundaria);
    margin: 0;
    overflow: hidden;
}

nav li {
    display: inline-block;
    margin: 0;
}

nav a {
    display: block;
    padding: 1em;
    color: var(--cor-fonte);
    text-decoration: none;
}

nav a:hover {
    background-color: var(--cor-primaria);
}

/* Estilização do conteúdo principal */
main {
    padding: 4em 6em;
    max-width: 800px;
    margin: 0 auto;
}

/* Estilização dos títulos */
h1, h2 {
    color: var(--cor-fonte);
}

/* Ajuste das listas */
ul {
    list-style-type: disc;
    margin-left: 2em;
}
