/* Definição das variáveis de cor */
:root {
    --cor-primaria: #808080; /* Cinza (cor primária) */
    --cor-secundaria: #FFD700; /* Amarelo (cor secundária) */
    --cor-fonte: #000000; /* Preto (cor da fonte) */
    --cinza-claro: #D3D3D3; /* Cinza claro */
    --cinza-escuro: #505050; /* Cinza escuro */
}

/* Importação da fonte Computer Modern */
@font-face {
    font-family: 'Computer Modern';
    src: url('fonts/CMU-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern';
    src: url('fonts/CMU-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Computer Modern';
    src: url('fonts/CMU-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Estilização do corpo do documento */
body {
    font-family: 'Computer Modern', serif;
    color: var(--cor-fonte);
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at center, var(--cinza-claro), var(--cinza-escuro));
    line-height: 1.5;
}

/* Estilização da seleção de idioma */
.language-selection {
    text-align: center;
    padding-top: 100px;
}

.language-selection h1 {
    font-size: 2em;
}

.language-selection p {
    font-size: 1.2em;
}

.flags {
    margin-top: 50px;
}

.flags a {
    display: inline-block;
    margin: 0 20px;
}

.flags img {
    width: 150px;
    height: auto;
}
